<html>
<head>

<script src="/assets/application-114264dd93c8ff30e4335b71eed7949d66c4e7a8eb62e2de6284c046fe07104b.js" data-turbolinks-track="reload"></script>
<title>WebCampBackendNew</title>
<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="rYgVgSSGuZk3+Sbb4d2jIVMM9U93a4Rpj/LIh6F59DBECr7JjmQUVLUNX5C86HIAJVOKm/Xv3fM+VnOqX9F7aA==">
</head>
<body>
  <h1>
    ようこそ <strong>Bookers</strong>  へ！
  </h1>
  <p>
    <strong>Bookers</strong>  では、さまざまな書籍に関するあなたの意見や
  </p>
  <p>
    印象を共有し交換することができます
  </p>

  <%= link_to"start", books_path %>

</body>
</html>
